
footer{
  background-color: #011e29;
  box-sizing: border-box;
    
padding: 20px 0 0;

width: 100%;
padding-bottom: 10px;



}
#footers_foot{
box-sizing: border-box;
background-color: #00131a;
width: 100%;
padding: 20px 0 0;
height: auto;
margin-top: -30px;
}
.container{

/* border: 1px solid red; */
width: 80%;
margin: auto;
height: auto;
}
.footers_foot_container{
box-sizing: border-box;
/* border: 1px solid red; */
width: 80%;
margin: auto;
/* height: auto; */
padding: 24px;

}
.foot_about{

width: 100%;
height: auto;
margin: auto;
margin-top: -10px;
display: grid;
grid-template-columns: repeat(6,1fr);
grid-template-rows: repeat(2 ,50px);


}
.about1{
/* border: 1px solid green; */
/* color: white;
padding-left:20px;
font-weight: 400;
font-family: "Lato",sans-serif; */
}
.minticon{
box-sizing: border-box;
width: 80%;
margin: auto;
border-top: 1px solid #304759;
border-bottom: 1px solid #304759;
height: auto;
padding-top: 16px;
padding-left: 40px;
padding-right: 40px;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(2,50px);
margin-top: -20px;
}


.footerlogo{
display: grid;
width: 100%;
grid-template-columns: 50% 50%;

}
.downloadapp {
text-align: right;

}
.subscribe{
display: grid;
grid-template-columns: 60% 40%;
margin-bottom: 24px;

width: 100%

}
.label1{
color: white;
font-weight: bold;
}  
.htlogo>img{
width: 404px;

}
.subscribeinput{
display: flex;
justify-content: space-around;
margin-top: 20px;


}
.HTHUNTSELECT{

width: 260px;
margin-right: 10px;
font-size: 16px;
padding: 10px;
border-radius: 4px;
font-weight: bold;
cursor: pointer;

}
.hthunt1{
color: #424242;
font-size: 14px;
font-weight: bold;
cursor: pointer;

}
#email{
width: 330px;
margin-right: 15px;
padding-left: 10px;
border-radius: 4px;
}
#btn{
padding: 10px;
border-radius: 4px;
background-color: transparent;
color: white;
font-weight: bold;
border:  1px solid white;
width: 150px;
}
.socialmedia{

display: flex;
justify-content: flex-end;
align-items: flex-end;

}
#socialicon{
display: flex;
justify-content: space-between;

width: 50%;

height: 40px;
}
#socialicon>img{
width: 50px;
}
#footer_menu{
border-top: 1px solid #304759;
width: 100%;
height: auto;
padding:  12px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

}
#footer_menu>ul{

}
#footer_menu li{
list-style: none;
font-size: 14px;
font-weight: 700;
margin-bottom: 16px;


}
ul li  a{
color: #a7a7a7;
text-decoration: none;
font-size: 15px;
font-weight: 400;
}
ul li.heading a{
font-weight: 700;
color: white;

}
a:hover{
color: white;
text-decoration:underline;
}
.end{
width:150px;
color: #c2c2c2;
font: 300;
margin: auto;
margin-top: 10px;
padding-bottom: 20px;
font-size: 14px;

}
.about1 a{

text-decoration: none;
color: white;
padding-left:20px;
font-weight: 400;
font-family: "Lato",sans-serif;

}





